# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Debug/

#
/.cproject
/.project
/.settings
/build
/cmake/viola/Testing
/cmake/viola/CTestTestfile.cmake
/cmake/viola/CMakeFiles/
/cmake/viola/cmake_install.cmake
/cmake/viola/CMakeCache.txt
/cmake/viola/Makefile

/cmake/violac/Testing
/cmake/violac/CTestTestfile.cmake
/cmake/violac/CMakeFiles/
/cmake/violac/cmake_install.cmake
/cmake/violac/CMakeCache.txt
/cmake/violac/Makefile
